

#DashBoard{
    display: flex;
    height: 100dvh;
    width: 100%;
    background-color: #efefef;
    flex-direction: column;
    gap: 20px;
}


#DashBoard aside{
    position: fixed;
    right: 0;
    bottom: 0;
    height: 88.9%;
    width: 83%;
}