

#DashBoard{
    display: flex;
    height: 100dvh;
    width: 100%;
    background-color: #efefef;
    flex-direction: column;
    gap: 20px;
}


#DashBoard aside{
    
    padding-left: 270px;
    margin-top: 200px;
}