#sideBar{
    overflow: hidden;
    width: 17%;
    height: 100%;
    position: fixed;
    left: 0;
    gap: 35px;
    background-color: var(--white);
    flex-direction: column;
    display: flex;
    padding: 20px;
    z-index: 99;
}

#sideBar img{
    height: 85px;
    width: 85px;
}
#sideBar div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    z-index: 99;
}
#sideBar div p{
    font-size: 15pt;
}
#sideBar div p::first-letter{
    color: var(--red);
}

#sideBar ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
#sideBar svg{
    font-size: 14pt;
}
#sideBar a{
    text-decoration: none;
    padding:18px;
    background-color: var(--white);
    display: flex;
    gap: 10px;
    color: var(--red);
    border: solid 1px;
    border-radius: 4px;
    transition: all .2s linear;
}

#sideBar button{
    padding:15px;
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--white);
    border-radius: 4px;
    border: solid 1px;
    font-size: 12pt;
}