

#clients{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 60px 0px;
    padding: 0px 100px;
    justify-content: center;
}

#clients > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

#clients h1::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    height: 5px;
    border-radius: 5px;
    background-color: var(--red);
    transition: all .5s linear;
    animation: VaiVem 3s linear alternate infinite 1s ;
}
#clients h1{
    position: relative;
    padding: 10px 0;
    transition: all .5s linear;
}

#clients h1::first-letter{
    color: var(--red);
}


@keyframes VaiVem {
    
    from {
        width: 20%;
        margin-left: 0px;
    }
    to{
        width:0;
        margin-left: 100%;
    }
}