#header{
    width: 100%;
    background-color: var(--white);
    height: 80px;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    color: var(--red);
    justify-content: end;
    gap: 20px;
}

#header a{
    color: var(--red);
    font-size: 13pt;
    cursor: pointer;
}