*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    background-attachment: fixed;
}

button{
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
:root{

    --red : #ff651c;
    --white : #ffff;
    --yellow : #e5b420;
    --gray: #e0dede;
    --black : #000000;
}
section{
    
    min-height: 100dvh;
    width: 100%;
}